<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Project_Insight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Project_Insight.Properties.Settings>
            <setting name="Heavensward_User" serializeAs="String">
                <value>Noel Belin</value>
            </setting>
            <setting name="Cong_Name" serializeAs="String">
                <value>Geoplazas Qro.</value>
            </setting>
            <setting name="Room_B_enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VyM_horary" serializeAs="String">
                <value>01/02/2018 19:00:00</value>
            </setting>
            <setting name="RP_horary" serializeAs="String">
                <value>01/07/2018 21:00:00</value>
            </setting>
            <setting name="VyM_Day" serializeAs="String">
                <value>Tuesday</value>
            </setting>
            <setting name="RP_Day" serializeAs="String">
                <value>Saturday</value>
            </setting>
            <setting name="Ac_same_all_week" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Rule_Elders_Name" serializeAs="String">
                <value>Elders</value>
            </setting>
            <setting name="Rule_Elders_Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Rule_Elders_Atalaya" serializeAs="String">
                <value>Allowed</value>
            </setting>
            <setting name="Rule_Elders_Capitan" serializeAs="String">
                <value>Allowed</value>
            </setting>
            <setting name="Rule_Elders_Acomodador" serializeAs="String">
                <value>Non_Status</value>
            </setting>
            <setting name="Rule_Elders_Lector" serializeAs="String">
                <value>Allowed</value>
            </setting>
            <setting name="Rule_Elders_PresRp" serializeAs="String">
                <value>Allowed</value>
            </setting>
            <setting name="Rule_Elders_Oracion" serializeAs="String">
                <value>Allowed</value>
            </setting>
            <setting name="Rule_Ministerial_Name" serializeAs="String">
                <value>Ministerials</value>
            </setting>
            <setting name="Rule_Ministerial_Type" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Rule_Ministerial_Atalaya" serializeAs="String">
                <value>Non_Status</value>
            </setting>
            <setting name="Rule_Ministerial_Capitan" serializeAs="String">
                <value>Allowed</value>
            </setting>
            <setting name="Rule_Ministerial_Acomodador" serializeAs="String">
                <value>Allowed</value>
            </setting>
            <setting name="Rule_Ministerial_Lector" serializeAs="String">
                <value>Allowed</value>
            </setting>
            <setting name="Rule_Ministerial_PresRp" serializeAs="String">
                <value>Allowed</value>
            </setting>
            <setting name="Rule_Ministerial_Oracion" serializeAs="String">
                <value>Allowed</value>
            </setting>
            <setting name="Rule_General_Name" serializeAs="String">
                <value>Generals</value>
            </setting>
            <setting name="Rule_General_Type" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Rule_General_Atalaya" serializeAs="String">
                <value>Non_Status</value>
            </setting>
            <setting name="Rule_General_Capitan" serializeAs="String">
                <value>Non_Status</value>
            </setting>
            <setting name="Rule_General_Acomodador" serializeAs="String">
                <value>Allowed</value>
            </setting>
            <setting name="Rule_General_Lector" serializeAs="String">
                <value>Allowed</value>
            </setting>
            <setting name="Rule_General_PresRp" serializeAs="String">
                <value>Non_Status</value>
            </setting>
            <setting name="Rule_General_Oracion" serializeAs="String">
                <value>Non_Status</value>
            </setting>
            <setting name="Week_Format" serializeAs="String">
                <value>True</value>
            </setting>
        </Project_Insight.Properties.Settings>
    </userSettings>
</configuration>
